---
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/cards/ArticleCard.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

const items = [
  {
    name: "Home",
    link: "/",
    disabled: false,
  },
  {
    name: "Events and Stories",
    disabled: true,
  },
];

const articles = await Astro.glob("./*.mdx");
---

<MainLayout title="Events and Stories">
  <div>
    <Breadcrumbs class="breadcrumbs" items={items} />
    <div class="main-wrap">
      <div class="content-wrap">
        {
          articles.map((article) => (
            <a class="link" href={article.url}>
              <ArticleCard
                title={article.frontmatter.title}
                img={article.frontmatter.img}
                desc={article.frontmatter.desc.substr(0, 150) + " ..."}
                date={article.frontmatter.date}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .main-wrap {
    padding-block-start: var(--size-8);
    padding-block-end: var(--size-12);
    padding-inline: var(--size-4);
  }
  .content-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-14), 1fr));
    grid-template-rows: masonry;
    align-items: center;
    masonry-auto-flow: next;
    gap: var(--size-5);
  }

  @media (min-width: 950px) {
    .main-wrap {
      padding-inline: var(--size-12);
      gap: var(--size-10);
    }
    .breadcrumbs {
      margin-left: var(--size-8);
      margin-top: var(--size-3);
    }
  }

  .link {
    text-decoration: none;
  }
</style>
