---
import "../styles/style.css";
import Title from "./Title.astro";
import StatsChart from "@components/Charts/StatsChart";

const statsItems = [
  {
    title: "emplyees",
    value: "+200",
  },
  {
    title: "projects",
    value: "3",
  },
  {
    title: "Doners/Partners",
    value: "4",
  },
];

const categories = ["2017", "2018", "2019", "2020", "2021", "2022"];
const projects = [
  {
    x: "2017",
    y: "13",
  },
  {
    x: "2018",
    y: "7",
  },
  {
    x: "2019",
    y: "8",
  },
  {
    x: "2020",
    y: "11",
  },
  {
    x: "2021",
    y: "14",
  },
  {
    x: "2022",
    y: "13",
  },
];
const partners = [
  {
    x: "2017",
    y: "12",
  },
  {
    x: "2018",
    y: "9",
  },
  {
    x: "2019",
    y: "9",
  },
  {
    x: "2020",
    y: "11",
  },
  {
    x: "2021",
    y: "15",
  },
  {
    x: "2022",
    y: "11",
  },
];
const employees = [
  {
    x: "2017",
    y: "700",
  },
  {
    x: "2018",
    y: "521",
  },
  {
    x: "2019",
    y: "585",
  },
  {
    x: "2020",
    y: "508",
  },
  {
    x: "2021",
    y: "509",
  },
  {
    x: "2022",
    y: "510",
  },
];
const beneficiaries = [
  {
    x: "2017",
    y: "1046422",
  },
  {
    x: "2018",
    y: "369850",
  },
  {
    x: "2019",
    y: "1236505",
  },
  {
    x: "2020",
    y: "387994",
  },
  {
    x: "2021",
    y: "269495",
  },
  {
    x: "2022",
    y: "216322",
  },
];
const budget = [
  {
    x: "2017",
    y: "15368014",
  },
  {
    x: "2018",
    y: "11917526",
  },
  {
    x: "2019",
    y: "7977500",
  },
  {
    x: "2020",
    y: "9495184",
  },
  {
    x: "2021",
    y: "8500000",
  },
  {
    x: "2022",
    y: "5608908",
  },
];
---

<div class="main-wrap surface">
  <div class="section-title">
    <Title title="About us" left />
  </div>
  <div class="content">
    <p class="content-title">Programme statistics for the current year. .</p>
    <div class="stats">
      {
        statsItems.map((item) => (
          <div class="stats-item">
            <p class="stats-item--value">{item.value}</p>
            <div class="divider" />
            <p class="stats-item--title">{item.title}</p>
          </div>
        ))
      }
    </div>
    <div class="stats-charts">
      <button data-stats-modal-open class="stats-modal-open-btn"
        >last six yeras statistics</button
      >
    </div>
  </div>
  <dialog data-stats-modal class="stats-modal">
    <h2 class="stats-modal-title">Dashboards</h2>
    <div class="stats-modal-contents">
      <StatsChart
        client:only="preact"
        categories={categories}
        data={projects}
        chartName="Projects"
      />
      <StatsChart
        client:only="preact"
        categories={categories}
        data={partners}
        chartName="Partners"
      />
      <StatsChart
        client:only="preact"
        categories={categories}
        data={employees}
        chartName="Employees"
      />
      <StatsChart
        client:only="preact"
        categories={categories}
        data={beneficiaries}
        chartName="Beneficiaries"
        orient="vertical"
      />
      <StatsChart
        client:only="preact"
        categories={categories}
        data={budget}
        chartName="Budget"
        orient="vertical"
        budget="true"
      />
    </div>
    <button data-stats-modal-close class="stats-modal-close-btn">Close</button>
  </dialog>
</div>

<script lang="js">
  const openStatsBtn = document.querySelector("[data-stats-modal-open]");
  const closeStatsBtn = document.querySelector("[data-stats-modal-close]");
  const stats = document.querySelector("[data-stats-modal]");

  openStatsBtn.addEventListener("click", () => {
    stats.showModal();
  });

  closeStatsBtn.addEventListener("click", () => {
    stats.close();
  });
</script>

<style>
  .main-wrap {
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-inline: 1.25rem;
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: center;
    gap: 1rem;
    scroll-padding-top: 15rem;
  }
  @media (min-width: 980px) {
    .main-wrap {
      grid-template: "title content" / 1fr 2fr;
      padding-block: 10rem;
      padding-inline: 3rem;
      gap: 3rem;
      place-items: center;
    }
  }
  @media (min-width: 1600px) {
    .main-wrap {
      padding-inline: 15rem;
    }
  }

  .section-title {
    grid-area: title;
    place-self: start;
  }

  @media (min-width: 950px) {
    .section-title {
      place-self: center;
    }
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-items: center;
  }
  .content-title {
    font-size: var(--fs-fl-sm);
    font-weight: 600;
    max-inline-size: 45ch;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .stats-item--title {
    font-size: var(--fs-sm);
    align-self: center;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
  }
  .divider {
    border-top: 3px solid var(--primary);
    width: 80px;
    border-radius: 0.5rem;
  }
  .stats-item--value {
    font-size: var(--fs-fl-md);
    font-weight: 700;
    align-self: center;
  }

  .stats-charts {
    display: grid;
    justify-content: end;
  }

  .stats-modal-open-btn {
    --link-visited: var(--tertiary);
    font-size: var(--fs-xs);
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 0.5rem;
    background: var(--tertiary-container);
    color: var(--on-tertiary-container);
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 150ms ease-out;
    text-decoration: none;
    border: 1px solid var(--outline-variant);
  }

  .stats-modal-open-btn:hover {
    transform: scale(1.1);
  }

  .stats-modal[open] {
    display: grid;
    background: var(--surface);
    color: var(--on-surface);
    /* safari */
    max-inline-size: min(90vw, 60ch);
    max-block-size: min(50vh, 100%);
    max-block-size: min(50dvb, 100%);
    margin: auto;
    padding: 0;
    inset: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    max-height: 65ch;
    min-width: 75%;
  }

  .stats-modal-title {
    display: grid;
    place-content: center;
    font-weight: 600;
    font-size: var(--fs-fs-md);
    color: var(--on-primary-container);
    padding-block: 1rem;
    padding-inline: 1rem;
    background-color: var(--primary-container);
    min-width: 100%;
  }

  .stats-modal-contents {
    padding-block: 1.5rem;
    padding-inline: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 50ch;
    overflow: auto;
  }

  .stats-modal-close-btn {
    font-weight: 600;
    color: var(--on-tertiary-container);
    background-color: var(--tertiary-container);
    padding-block: 0.7rem;
    font-size: var(--fs-sm);
    justify-self: end;
    margin-inline: 3rem;
    margin-block: 2rem;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid var(--outline-variant);
  }
</style>
