---
const { img, alt, name, title, desc, right, left } = Astro.props;
---

<div class:list={["member", { right, left }]}>
  <div class="info">
    <div class="avatar">
      <img alt={alt} src={img} width="200" height="200" />
    </div>
    <div class="name">
      <p>
        <strong>{name}</strong>
      </p>
    </div>
    <div class="title">
      <p>{title}</p>
    </div>
  </div>
  <div class="desc">
    <div class="desc-text">
      <p>{desc}</p>
    </div>
  </div>
</div>

<style>
  .member {
    display: grid;
    grid-template: "info" "desc" / 1fr;
    gap: var(--size-6);
    place-content: space-around;
    place-items: center;
  }

  @media (min-width: 950px) {
    .member {
      gap: var(--size-10);
    }
    .left {
      grid-template: "info desc" / 1fr 3fr;
    }

    .right {
      grid-template: "desc info" / 3fr 1fr;
    }
  }

  .info {
    grid-area: info;
    display: grid;
    place-content: center;
    text-align: center;
    gap: var(--size-1);
  }

  .desc {
    grid-area: desc;
  }

  .desc-text > p {
    max-width: var(--size-content-3);
    font-size: var(--size-3);
    text-align: justify;
  }

  .name > p,
  .title > p {
    min-width: max-content;
    font-size: var(--size-3);
  }

  .avatar > img {
    border-radius: var(--radius-round);
    box-shadow: var(--shadow-3);
  }
</style>
