---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";
import DateFormat from "../../components/DateFormat.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const {
  name,
  start,
  end,
  summary,
  partners,
  objectives,
  activities,
  contact,
  cover,
} = project.data;

const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "Projects",
    disabled: true,
  },
  {
    name: name,
    disabled: true,
  },
];
---

<MainLayout title={`Projects | ${name}`} crumbs={items}>
  <div class="main-wrap">
    <aside>
      <h1 class="title">
        {name}
      </h1>
      <p class="partners">
        In partnership with {
          partners.length === 1 ? (
            <strong>{partners[0]}</strong>
          ) : (
            partners.map((partner, index) => {
              return index + 1 === partners.length ? (
                <strong>{partner}</strong>
              ) : (
                <span>
                  <strong>{partner}</strong> and{" "}
                </span>
              );
            })
          )
        }
      </p>
      <div class="dates">
        <p class="start">
          <strong>Start date:</strong>
          <DateFormat date={start} />
        </p>
        <p class="end">
          <strong>End date:</strong>
          <DateFormat date={end} />
        </p>
      </div>
      <p class="summary">{summary}</p>
      <div class="contact">
        <p>
          <span><strong>Project Manager:</strong></span>
          {contact.name}
        </p>
        <p><span><strong>Email:</strong></span> {contact.email}</p>
      </div>
    </aside>
    <section>
      <div class="objectives">
        <h2>Project Objectives</h2>
        <ul>
          {objectives.map((objective) => <li>{objective}</li>)}
        </ul>
      </div>
      <div class="activities">
        <h2>Project activities</h2>
        <ul>
          {activities.map((activity) => <li>{activity}</li>)}
        </ul>
      </div>
    </section>
    <Image src={cover} alt={`photo from ${name}`} height="500" width="1000" />
  </div>
</MainLayout>

<style>
  .main-wrap {
    display: grid;
    grid-template-areas: "aside main photo";
    grid-template-columns: 25rem max-content 2fr;
    gap: 1rem;
  }

  aside {
    grid-area: aside;
    min-width: 25rem;

    background-color: var(--surface-container);
    border-radius: 0 1rem 0 0;

    display: grid;
    padding-inline: 3rem;
    padding-block: 3rem;
    align-content: start;
    gap: 1rem;
  }

  @media (max-width: 1200px) {
    .main-wrap {
      grid-template-areas: "aside" "photo" "main";
      grid-template-columns: 1fr;
      place-items: center;
    }

    aside {
      min-width: 100%;
      border-radius: 0;
      place-content: center;
      padding-inline: 2rem;
    }
  }

  aside > h1 {
    font-size: var(--fs-md);
    font-weight: 700;
    color: var(--primary);
    max-width: 35ch;
  }

  aside .dates {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs-sm);
    font-weight: 600;
  }

  aside > .partners {
    font-size: var(--fs-sm);
  }

  aside > .summary {
    /* text-align: justify; */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 2rem;
    max-width: 60ch;
  }

  section {
    max-width: 60ch;
    grid-area: main;
    padding-block: 3rem;
    padding-inline: 3rem;
    display: grid;
    gap: 2rem;
    align-content: start;
  }

  @media (max-width: 1600px) {
    section {
      max-width: 45ch;
    }
  }

  @media (max-width: 1200px) {
    section {
      padding-inline: 2rem;
      max-width: 65ch;
    }
  }

  section h2 {
    margin-bottom: 1rem;
    font-size: var(--fs-sm);
    font-weight: 600;
    max-width: max-content;
  }

  section ul {
    display: grid;
    gap: 0.5rem;
  }

  section ul li {
    /* text-align: justify; */
  }

  img {
    grid-area: photo;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 0;
  }

  @media (max-width: 1200px) {
    img {
      border-radius: 0;
    }
  }
</style>
