---
import { Icon } from "astro-icon";
import "../../styles/style.css";
import ToggleDark from "../../components/ToggleDark.astro";
import harikarLogo from "../../assets/images/harikar-logo.svg";

export function getStaticPaths() {
  return [
    { params: { id: "12" } },
    { params: { id: "13" } },
    { params: { id: "16" } },
    { params: { id: "17" } },
    { params: { id: "19" } },
    { params: { id: "20" } },
  ];
}

const { id } = Astro.params;

const request = await fetch(
  `https://harikar-reports-api.cyclic.app/v2/projects/${id}`
);
const project = await request.json();

// const projectImg = `url(https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/projects/project-${id}.webp)`;
const projectImg =
  "url(https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/articles/article-1/group-working-on-body-language.webp)";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Harikar Astro Website - {project.name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Harikar NGO test Astro website" />
  </head>
  <body>
    <div class="main-wrap">
      <div class="content-wrap">
        <div class="pane info">
          <div class="theme">
            <ToggleDark />
          </div>
          <a href="/" class="logo">
            <img src={harikarLogo} alt="Harikar-logo" width="40" height="70" />
          </a>
          <div class="middle">
            <p class="title">
              {project.name}
            </p>
            <ul class="clusters">
              {project.clusters.map((cluster) => <li>{cluster}</li>)}
            </ul>
          </div>
          <div class="contact">
            <p>
              <span><strong>Project Manager:</strong></span>
              {project.contact.name}
            </p>
            <p><span><strong>Email:</strong></span> {project.contact.email}</p>
          </div>
        </div>
        <div class="pane summary">
          <p>{project.summary}</p>
        </div>
        <div class="pane numbers">
          <ul class="partners">
            <span>partners:</span>
            {project.partners.map((partner) => <li>{partner}</li>)}
          </ul>
          <p><span>Employees:</span> {project.employees.total}</p>
          <p>
            <span>Target beneficiaries:</span>
            {project.beneficiaries.target}
          </p>
        </div>
        <div class="pane objectives">
          <ul>
            <span>Project Objectives:</span>
            {project.objectives.list.map((objective) => <li>{objective}</li>)}
          </ul>
        </div>
        <div class="pane activities">
          <ul>
            <span>Project activities:</span>
            {project.activities.list.map((activity) => <li>{activity}</li>)}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<style define:vars={{ projectImg }}>
  .main-wrap {
    background-color: var(--surface4);
  }
  .content-wrap {
    display: grid;
    grid-template: "title" "summary" "numbers" "objectives" "activities";
    background-image: var(--projectImg);
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 1200px) {
    .content-wrap {
      grid-template: "title summary numbers objectives activities" / 1fr 1fr 1fr 1fr 1fr;
      height: 100vh;
    }
  }

  @media (min-width: 1600px) {
    .main-wrap {
      padding-block: 5rem;
      padding-inline: var(--size-12);
      height: 100vh;
    }
    .content-wrap {
      grid-template: "title summary numbers objectives activities" / 1fr 1fr 1fr 1fr 1fr;
      height: calc(100vh - 10rem);
      box-shadow: var(--shadow-2);
    }
  }

  .pane {
    position: relative;
    isolation: isolate;
  }

  .pane > * {
    color: var(--gray-2);
  }

  .info {
    position: relative;
    display: grid;
    background-color: var(--surface2);
    justify-items: center;
    padding-inline: var(--size-3);
    padding-block: var(--size-4);
  }

  .info > * {
    color: var(--text2);
  }

  .info .theme {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--size-4);
  }

  .info .logo {
    align-self: start;
  }

  .info .middle {
    padding-block: var(--size-4);
  }

  .info .title {
    font-size: var(--font-size-4);
    max-width: var(--size-content-1);
    padding-block: var(--size-4);
  }

  .info .clusters {
    display: flex;
    place-content: center;
    gap: var(--size-2);
    list-style: none;
  }

  .info .clusters > li {
    font-size: var(--font-size-1);
    padding-inline: var(--size-4);
    border: var(--border-size-1) solid var(--red-6);
    border-radius: var(--radius-round);
  }

  .info .contact {
    padding-block-start: var(--size-4);
    align-self: end;
  }

  .info .contact > p {
    font-size: var(--font-size-0);
  }

  @media (min-width: 1200px) {
    .info {
      padding-block: var(--size-8);
    }
    .info .title {
      font-size: var(--font-size-4);
    }
  }

  .summary {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.7;
  }

  .numbers {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.6;
  }

  .objectives {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.9;
  }

  .activities {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.8;
  }

  .pane::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }
</style>
