---
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import "../../styles/style.css";
import ToggleDark from "../../components/ToggleDark.astro";
import harikarLogo from "../../assets/images/harikar-logo.svg";

export function getStaticPaths() {
  return [
    { params: { id: "12" } },
    { params: { id: "13" } },
    { params: { id: "16" } },
    { params: { id: "17" } },
    { params: { id: "19" } },
    { params: { id: "20" } },
  ];
}

const { id } = Astro.params;

const request = await fetch(
  `https://harikar-reports-api.cyclic.app/v2/projects/${id}`
);
const project = await request.json();

// const projectImg = `url(https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/projects/project-${id}.webp)`;
const projectImg =
  "url(https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/articles/article-1/group-working-on-body-language.webp)";

const formatter = Intl.NumberFormat("en", { notation: "compact" });
function formatDate(date) {
  return new Date(date).toLocaleDateString(undefined, {
    year: "numeric",
    month: "short",
  });
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Harikar Astro Website - {project.name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Harikar NGO test Astro website" />
  </head>
  <body>
    <div class="main-wrap">
      <div class="content-wrap">
        <div class="pane info">
          <div class="theme">
            <ToggleDark />
          </div>
          <a href="/" class="logo">
            <img src={harikarLogo} alt="Harikar-logo" width="40" height="70" />
          </a>
          <div class="middle">
            <h1 class="title">
              {project.name}
            </h1>
            <div class="dates">
              <p class="start">
                <span><Icon pack="mdi" name="clock-start" /></span>
                {formatDate(project.start)}
              </p>
              <p class="end">
                <span><Icon pack="mdi" name="clock-end" /></span>
                {formatDate(project.end)}
              </p>
            </div>
            <ul class="clusters">
              {
                project.clusters.map((cluster) => (
                  <li class={cluster}>{cluster}</li>
                ))
              }
            </ul>
          </div>
          <div class="contact">
            <p>
              <span><strong>Project Manager:</strong></span>
              {project.contact.name}
            </p>
            <p><span><strong>Email:</strong></span> {project.contact.email}</p>
          </div>
        </div>
        <div class="pane summary">
          <h2>Project Summary</h2>
          <p>{project.summary}</p>
        </div>
        <div class="pane numbers">
          <div class="partners">
            <h2>Partners:</h2>
            <ul>
              {project.partners.map((partner) => <li>{partner}</li>)}
            </ul>
          </div>
          <div class="bens">
            <h2>Target beneficiaries:</h2>
            <p>
              {formatter.format(project.beneficiaries.target)}
            </p>
          </div>
        </div>
        <div class="pane objectives">
          <h2>Project Objectives:</h2>
          <ul>
            {project.objectives.list.map((objective) => <li>{objective}</li>)}
          </ul>
        </div>
        <div class="pane activities">
          <h2>Project activities:</h2>
          <ul>
            {project.activities.list.map((activity) => <li>{activity}</li>)}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<style define:vars={{ projectImg }}>
  .main-wrap {
    background-color: var(--surface4);
  }
  .content-wrap {
    display: grid;
    grid-template: "title" "summary" "numbers" "objectives" "activities";
    background-image: var(--projectImg);
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 1200px) {
    .content-wrap {
      grid-template: "title summary numbers objectives activities" / 1fr 1fr 1fr 1fr 1fr;
      min-height: 100vh;
    }
  }

  @media (min-width: 1600px) {
    .main-wrap {
      padding-block: 5rem;
      padding-inline: var(--size-12);
      height: 100vh;
    }
    .content-wrap {
      grid-template: "title summary numbers objectives activities" / 1fr 1fr 1fr 1fr 1fr;
      min-height: calc(100vh - 10rem);
      box-shadow: var(--shadow-2);
    }
  }

  .pane {
    position: relative;
    isolation: isolate;
    min-height: var(--size-14);
  }

  .pane > * {
    color: var(--gray-2);
  }

  .pane::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .info {
    position: relative;
    display: grid;
    background-color: var(--surface2);
    justify-items: center;
    padding-inline: var(--size-6);
    padding-block: var(--size-6);
    min-height: var(--size-15);
  }

  .info > * {
    color: var(--text2);
  }

  .info .theme {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--size-4);
  }

  .info .logo {
    align-self: start;
  }

  .info .middle {
    padding-block: var(--size-4);
  }

  .info .title {
    font-size: var(--font-size-4);
    max-width: var(--size-content-1);
    padding-block: var(--size-4);
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    hyphens: auto;
  }

  .info .dates {
    display: flex;
    place-content: center;
    gap: var(--size-3);
    padding-block-end: var(--size-4);
  }

  .info .dates > p {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    display: flex;
    gap: var(--size-2);
  }

  .info .clusters {
    display: flex;
    place-content: center;
    gap: var(--size-2);
    list-style: none;
  }

  .info .clusters > li {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    padding-inline: var(--size-4);
    background-color: var(--color);
    border-radius: var(--radius-round);
    color: var(--gray-2);
  }

  .Protection {
    --color: var(--blue-8);
  }

  .GBV {
    --color: var(--orange-7);
  }

  .CP {
    --color: var(--red-8);
  }

  .Health {
    --color: var(--green-8);
  }

  .Livelihood {
    --color: var(--lime-7);
  }

  .WASH {
    --color: var(--blue-4);
  }

  .info .contact {
    padding-block-start: var(--size-4);
    align-self: end;
  }

  .info .contact > p {
    font-size: var(--font-size-0);
  }

  @media (min-width: 1200px) {
    .info {
      padding-block: var(--size-8);
    }
  }

  .summary {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.8;
    padding-block: var(--size-6);
    padding-inline: var(--size-6);
    display: grid;
    place-content: center;
    gap: var(--size-4);
  }

  .summary > h2 {
    font-size: var(--font-size-4);
    color: var(--gray-2);
  }

  .summary > p {
    font-size: var(--font-size-2);
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    hyphens: auto;
  }

  .numbers {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.7;
    padding-block: var(--size-6);
    padding-inline: var(--size-6);
    display: grid;
    place-content: center;
    gap: var(--size-6);
    text-align: center;
  }

  .numbers > * > h2 {
    font-size: var(--font-size-4);
    color: var(--gray-2);
  }

  .numbers > * > p {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-9);
    color: var(--gray-3);
  }

  .numbers .partners > ul {
    list-style: none;
    display: grid;
    justify-content: center;
  }

  .numbers .partners > ul li {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-9);
    color: var(--gray-3);
  }

  .objectives {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.9;
    padding-block: var(--size-6);
    padding-inline: var(--size-6);
    display: grid;
    place-content: center;
    gap: var(--size-4);
  }

  .objectives > h2 {
    font-size: var(--font-size-4);
    color: var(--gray-2);
  }

  .objectives > ul > li {
    font-size: var(--font-size-1);
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    hyphens: auto;
  }

  .activities {
    --bg-filter-color: var(--gray-9);
    --bg-filter-opacity: 0.8;
    padding-block: var(--size-6);
    padding-inline: var(--size-6);
    display: grid;
    place-content: center;
    gap: var(--size-4);
  }

  .activities > h2 {
    font-size: var(--font-size-4);
    color: var(--gray-2);
  }

  .activities > ul > li {
    font-size: var(--font-size-1);
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    hyphens: auto;
  }

  [astro-icon] {
    width: 20px;
    height: 20px;
    color: var(--text1);
  }
</style>
