---
import { Icon } from "astro-icon";
import "../../styles/style.css";
import harikarLogo from "../../assets/images/harikar-logo.svg";
import MainLayout from "@layouts/MainLayout.astro";
import Partners from "@components/Partners.astro";
import Projects from "@components/Projects.astro";

export function getStaticPaths() {
  return [
    { params: { id: "12" } },
    { params: { id: "23" } },
    { params: { id: "24" } },
  ];
}

const { id } = Astro.params;

const request = await fetch(
  `https://harikar-reports-api.cyclic.app/v3/projects/${id}`,
);
const project = await request.json();

const projectImg = `https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/projects/project-${id}.webp`;

const formatter = Intl.NumberFormat("en", { notation: "compact" });
function formatDate(date) {
  return new Date(date).toLocaleDateString(undefined, {
    year: "numeric",
    month: "short",
  });
}

const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "Projects",
    disabled: true,
  },
  {
    name: project.name,
    disabled: true,
  },
];
---

<MainLayout title={project.name} crumbs={items}>
  <div class="main-wrap">
    <aside>
      <h1 class="title">
        {project.name}
      </h1>
      <p class="partners">
        In partnership with {
          project.partners.length === 1 ? (
            <strong>{project.partners[0]}</strong>
          ) : (
            project.partners.map((partner, index) => {
              return index + 1 === project.partners.length ? (
                <strong>{partner}</strong>
              ) : (
                <span>
                  <strong>{partner}</strong> and{" "}
                </span>
              );
            })
          )
        }
      </p>
      <div class="dates">
        <p class="start">
          <strong>Start date:</strong>
          {formatDate(project.start)}
        </p>
        <p class="end">
          <strong>End date:</strong>
          {formatDate(project.end)}
        </p>
      </div>
      <p class="summary">{project.summary}</p>
      <div class="contact">
        <p>
          <span><strong>Project Manager:</strong></span>
          {project.contact.name}
        </p>
        <p><span><strong>Email:</strong></span> {project.contact.email}</p>
      </div>
    </aside>
    <section>
      <div class="objectives">
        <h2>Project Objectives</h2>
        <ul>
          {project.objectives.map((objective) => <li>{objective}</li>)}
        </ul>
      </div>
      <div class="activities">
        <h2>Project activities</h2>
        <ul>
          {project.activities.map((activity) => <li>{activity}</li>)}
        </ul>
      </div>
    </section>
    <img
      src={projectImg}
      alt={`photo from ${project.name}`}
      height="300"
      width="500"
    />
  </div>
</MainLayout>

<style>
  .main-wrap {
    display: grid;
    grid-template-areas: "aside main photo";
    grid-template-columns: 25rem max-content 2fr;
    gap: 1rem;
  }

  aside {
    grid-area: aside;
    min-width: 25rem;

    background-color: var(--surface-container);
    border-radius: 0 1rem 0 0;

    display: grid;
    padding-inline: 3rem;
    padding-block: 3rem;
    align-content: start;
    gap: 1rem;
  }

  @media (max-width: 1200px) {
    .main-wrap {
      grid-template-areas: "aside" "photo" "main";
      grid-template-columns: 1fr;
      place-items: center;
    }

    aside {
      min-width: 100%;
      border-radius: 0;
      place-content: center;
      padding-inline: 2rem;
    }
  }

  aside > h1 {
    font-size: var(--fs-md);
    font-weight: 700;
    color: var(--primary);
    max-width: 35ch;
  }

  aside .dates {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs-sm);
    font-weight: 600;
  }

  aside > .partners {
    font-size: var(--fs-sm);
    font-weight: 600;
  }

  aside > .summary {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 2rem;
    max-width: 60ch;
  }

  section {
    max-width: 60ch;
    grid-area: main;
    padding-block: 3rem;
    padding-inline: 3rem;
    display: grid;
    gap: 2rem;
    align-content: start;
  }

  @media (max-width: 1600px) {
    section {
      max-width: 45ch;
    }
  }

  @media (max-width: 1200px) {
    section {
      padding-inline: 2rem;
      max-width: 65ch;
    }
  }

  section h2 {
    margin-bottom: 1rem;
    font-size: var(--fs-sm);
    max-width: max-content;
  }

  section ul {
    display: grid;
    gap: 0.5rem;
  }

  section ul li {
    text-align: justify;
  }

  img {
    grid-area: photo;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem 0 0 0;
  }

  @media (max-width: 1200px) {
    img {
      border-radius: 0;
    }
  }
</style>
