---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import MainLayout from "./MainLayout.astro";
import { Image } from "@astrojs/image/components";

const { title, desc, img, date, author, language, location, slug } =
  Astro.props.frontmatter;

const extractName = (path) => {
  const arrayFromPath = path.split("/");
  const unEditedName = arrayFromPath[arrayFromPath.length - 1].split(".")[0];
  const name = unEditedName.split("-").join(" ");
  return name;
};

const items = [
  {
    name: "Home",
    link: "/",
    disabled: false,
  },
  {
    name: "Events and Stories",
    link: "/events-and-stories",
    disabled: false,
  },
  {
    name: "Now reading",
    disabled: true,
  },
];
---

<MainLayout title={"Events and Stories" + title}>
  <Breadcrumbs class="breadcrumbs" items={items} />
  <div class="main-wrap">
    <div class="content-wrap">
      <h2 class="title">{title}</h2>
      <p class="desc">{desc}</p>
      <p class="meta">
        By {author} in {location} |
        {date} |
        {language}
      </p>
      <div class="media-element">
        <Image
          alt={extractName(img)}
          src={img}
          width="900"
          aspectRatio="16:9"
        />
        <p class="media-element__title">{extractName(img)}</p>
      </div>
    </div>
    <article class="article">
      <slot />
    </article>
  </div>
</MainLayout>

<style>
  .main-wrap {
    padding-block-start: var(--size-8);
    padding-block-end: var(--size-12);
    padding-inline: var(--size-4);
    display: grid;
    place-items: center;
  }
  .content-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    place-items: start;
  }
  @media (min-width: 950px) {
    .main-wrap {
      padding-inline: var(--size-10);
    }
    .breadcrumbs {
      margin-left: var(--size-8);
      margin-top: var(--size-3);
    }
  }

  .title {
    font-size: var(--size-fluid-3);
    max-width: var(--size-content-1);
  }

  .desc {
    max-width: 35ch;
    font-size: var(--size-fluid-2);
    text-align: justify;
  }

  .meta {
    font-weight: var(--font-weight-6);
    font-size: var(--size-3);
    max-width: var(--size-content-2);
  }

  .article {
    text-align: justify;
    display: grid;
    gap: var(--size-4);
    padding-top: var(--size-8);
  }

  .article :global(p) {
    padding-inline: var(--size-2);
    max-width: 80ch;
  }

  .article :global(ul) {
    padding-inline: var(--size-2);
    padding-left: var(--size-8);
  }

  .article :global(ul > li) {
    max-width: 70ch;
  }

  @media (min-width: 450px) {
    .title {
      max-width: var(--size-content-2);
    }
    .desc {
      max-width: var(--size-content-3);
    }
    .meta {
      max-width: var(--size-content-2);
    }
  }

  .media-element {
    display: grid;
    place-items: center;
    position: relative;
    max-width: 100%;
  }
  .media-element > img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }

  .media-element__title {
    font-size: var(--font-size-0);
    color: var(--text1);
    font-weight: var(--font-weight-6);
    place-self: center;
    padding: var(--size-1);
    width: 100%;
    height: 3rem;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: -4em;
    font-style: italic;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }
</style>
