---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import MainLayout from "./MainLayout.astro";
const { title, desc, date, author, language, location, slug } =
  Astro.props.frontmatter;

// const response = await fetch(
//   `https://api.github.com/repos/Harikar-NGO/harikar-website-files/contents/articles/${slug}`
// );
// const data = await response.json();
// const articlePhotos = data.map((item) => item.download_url);
const extractName = (path) => {
  const arrayFromPath = path.split("/");
  const unEditedName = arrayFromPath[arrayFromPath.length - 1].split(".")[0];
  const name = unEditedName.split("-").join(" ");
  return name;
};

const items = [
  {
    name: "Home",
    link: "/",
    disabled: false,
  },
  {
    name: "Events and Stories",
    disabled: true,
  },
];
---

<MainLayout title={"Events and Stories" + title}>
  <Breadcrumbs class="breadcrumbs" items={items} />
  <div class="main-wrap">
    <div class="content-wrap">
      <h2 class="title">{title}</h2>
      <p class="desc">{desc}</p>
      <p class="meta">
        By {author} in {location} |
        {date} |
        {language}
      </p>
      <div class="container">
        <div class="media-scroller snaps-inline">
          <!-- {
            articlePhotos.map((photo) => (
              <div class="media-element">
                <img
                  loading="lazy"
                  alt={extractName(photo)}
                  src={photo}
                  width="500"
                  height="400"
                />
                <p class="media-element__title">{extractName(photo)}</p>
              </div>
            ))
          } -->
        </div>
      </div>
      <article class="article">
        <slot />
      </article>
    </div>
  </div>
</MainLayout>

<style>
  .main-wrap {
    padding-block-start: var(--size-8);
    padding-block-end: var(--size-12);
    padding-inline: var(--size-4);
    display: grid;
    place-items: center;
  }
  .content-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    place-items: start;
  }
  @media (min-width: 950px) {
    .main-wrap {
      padding-inline: var(--size-10);
    }
    .breadcrumbs {
      margin-left: var(--size-8);
      margin-top: var(--size-3);
    }
  }

  .title {
    font-size: var(--size-fluid-3);
    max-width: var(--size-content-1);
  }

  .desc {
    max-width: 35ch;
    font-size: var(--size-fluid-2);
    text-align: justify;
  }

  .meta {
    font-weight: var(--font-weight-6);
    max-width: var(--size-content-1);
  }

  .article {
    text-align: justify;
    display: grid;
    gap: var(--size-4);
  }

  .article :global(p) {
    padding-inline: var(--size-2);
    max-width: 80ch;
  }

  .article :global(ul) {
    padding-inline: var(--size-2);
    padding-left: var(--size-8);
  }

  .article :global(ul > li) {
    max-width: 70ch;
  }

  .container {
    grid-area: content;
    overflow-x: hidden;
    max-width: 35ch;
  }

  .media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    grid-auto-columns: 20rem;
    padding-block: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  @media (min-width: 450px) {
    .container {
      max-width: 70ch;
    }
    .media-scroller {
      grid-auto-columns: 25rem;
    }
    .title {
      max-width: var(--size-content-2);
    }
    .desc {
      max-width: var(--size-content-3);
    }
    .meta {
      max-width: var(--size-content-2);
    }
  }
  @media (min-width: 950px) {
    .container {
      max-width: 90ch;
    }
  }
  .media-element {
    display: grid;
    grid-template-rows: min-content;
    place-content: start;
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    background-color: transparent;
    transition: all 100ms var(--ease-in-1);
    position: relative;
  }

  .media-element:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-2);
  }

  .media-element > img {
    inline-size: 100%;
    aspect-ratio: var(--ratio-landscape);
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }

  .media-element__title {
    font-size: var(--font-size-0);
    color: var(--text1);
    font-weight: var(--font-weight-6);
    place-self: center;
    padding: var(--size-1);
    width: 100%;
    height: 3rem;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 0;
    background-color: var(--surface-3);
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }
</style>
