---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import MainLayout from "./MainLayout.astro";
import { Image } from "astro:assets";
import MediaScroller from "../components/MediaScroller.astro";

const { title, desc, date, author, language, location, slug } =
  Astro.props.frontmatter;

const response = await fetch(
  `https://api.github.com/repos/Harikar-NGO/harikar-website-files/contents/articles/${slug}`,
);
const data = await response.json();
const articlePhotos = await data.map((item) => item.download_url);

const extractName = (path) => {
  const arrayFromPath = path.split("/");
  const unEditedName = arrayFromPath[arrayFromPath.length - 1].split(".")[0];
  const name = unEditedName.split("-").join(" ");
  return name;
};

const items = [
  {
    name: "Home",
    link: "/",
    disabled: false,
  },
  {
    name: "Events and Stories",
    link: "/events-and-stories",
    disabled: false,
  },
  {
    name: "Now reading",
    disabled: true,
  },
];
---

<MainLayout title={"Events and Stories" + title}>
  <Breadcrumbs class="breadcrumbs" items={items} />
  <div class="main-wrap">
    <div class="content-wrap">
      <h2 class="title">{title}</h2>
      <p class="desc">{desc}</p>
      <p class="meta">
        By {author} in {location} |
        {date} |
        {language}
      </p>
      <div class="photos-slider">
        <MediaScroller>
          {
            articlePhotos.map((photo) => (
              <div class="media-element">
                <Image
                  alt={extractName(photo)}
                  src={photo}
                  width="900"
                  height="600"
                  class="media-element__img"
                  format="webp"
                />
                <p class="media-element__title">{extractName(photo)}</p>
              </div>
            ))
          }
        </MediaScroller>
      </div>
    </div>
    <article class="article">
      <slot />
    </article>
  </div>
</MainLayout>

<style>
  .main-wrap {
    place-items: center;
    padding-inline: 1.25rem;
    padding-block-start: 1.25rem;
    padding-block-end: 5rem;
  }
  .content-wrap {
  }

  @media (min-width: 480px) {
    .main-wrap {
      padding-inline: 3rem;
      padding-block-start: 3rem;
      padding-block-end: 10rem;
    }
  }

  @media (min-width: 980px) {
    .main-wrap {
      display: flex;
      flex-direction: column;
      place-items: center;
      padding-inline: 10rem;
      padding-block-start: 3rem;
      padding-block-end: 10rem;
    }
    .breadcrumbs {
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }

  .title {
    font-size: var(--fs-fl-md);
    max-width: 25ch;
  }

  .desc {
    padding-block-start: 1.25rem;
    font-size: var(--fs-fl-sm);
    max-width: 60ch;
  }

  .meta {
    font-weight: 600;
    font-size: var(--fs-xs);
    max-width: 25ch;
    padding-block-start: 1.25rem;
  }

  .photos-slider {
    overflow-x: hidden;
    max-width: 90ch;
  }

  .media-element {
    display: grid;
    justify-items: center;
    position: relative;
    max-width: 100%;
  }

  .media-element__img {
    object-fit: cover;
    max-width: 18em;
    height: auto;
  }

  @media (min-width: 480px) {
    .media-element__img {
      max-width: 30em;
    }
  }

  @media (min-width: 1400px) {
    .media-element__img {
      max-width: 50em;
    }
  }

  .media-element__title {
    font-size: var(--fs-xs);
    color: var(--on-surface);
    font-weight: 400;
    place-self: center;
    padding: 0.25rem;
    width: 100%;
    display: grid;
    place-content: center;
    font-style: italic;
  }

  .article {
    text-align: justify;
    display: grid;
    gap: 1.25rem;
    padding-top: 0.25rem;
  }

  .article :global(p) {
    max-width: 85ch;
  }

  .article :global(ul) {
    padding-left: 1.25rem;
  }

  .article :global(ul > li) {
    max-width: 80ch;
  }
</style>
