---
import Projects from "@components/DashboardCards/Projects/Projects";
import Calendar from "@components/DashboardCards/Calendar/Calendar";
import Districts from "@components/Charts/Districts";
import BenCards from "@components/DashboardCards/BenCards/BenCards";
import TypeCards from "@components/DashboardCards/TypeCards/TypeCards";
import TrendsOrActivities from "@components/DashboardCards/TrendsOrActivities/TrendsOrActivities";
import MainLayout from "@layouts/MainLayout.astro";
const { year = "" } = Astro.props;

const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "Dashboards",
    link: "/dashboards",
    disabled: true,
  },
  {
    name: year,
    disabled: true,
  },
];
---

<MainLayout title="Project Activity Dashboard 2022" crumbs={items}>
  <div class="content-wrap" id="content-wrap">
    <p class="hint">
      Please view this page on a large screen for best viewing experiense
    </p>
    <div class="side">
      <Calendar client:only="preact" year={year} />
      <Projects client:only="preact" year={year} />
    </div>
    <div class="options">
      <details>
        <summary>Dashboard options</summary>
        <div class="options-content">
          <Calendar client:only="preact" year={year} />
          <Projects client:load year={year} />
        </div>
      </details>
    </div>
    <div class="main">
      <div class="types section">
        <TypeCards client:only="preact" />
      </div>
      <div class="locations section">
        <Districts client:only="preact" />
      </div>
      <div class="cards section">
        <BenCards client:only="preact" />
      </div>
      <div class="trends section">
        <TrendsOrActivities client:only="preact" />
      </div>
      <div class="activities"></div>
    </div>
  </div>
</MainLayout>

<style>
  .content-wrap {
    display: grid;
  }

  .side {
    display: none;
  }

  .main {
    display: none;
  }

  .hint {
    display: grid;
    place-content: center;
    height: 50svh;
  }

  .options {
    display: none;
  }

  @media (min-width: 700px) {
    .content-wrap {
      display: grid;
      grid-template: "options" "main" / 1fr;
    }

    .options {
      grid-area: options;
      padding-inline: 2rem;
      padding-block: 1rem;
      background-color: var(--surface-container);
      display: grid;
      justify-content: center;
    }

    .options summary {
      text-align: center;
      cursor: pointer;
    }

    .options-content {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      max-width: max-content;
    }

    .main {
      grid-area: main;
      background-color: var(--surface);
      padding-block: 3rem;
      padding-inline: 2rem;
      display: grid;
      grid-template:
        "types locations"
        "cards cards"
        "trends trends" / 1fr 5fr;
      gap: 1.25rem;
    }

    .hint {
      display: none;
    }

    .cards {
      justify-self: center;
    }

    .trends {
      justify-self: center;
    }
  }

  @media (min-width: 1200px) {
    .options {
      display: none;
    }
    .content-wrap {
      display: grid;
      grid-template: "side main" / 1fr 5fr;
      position: relative;
      background-color: var(--surface);
    }

    .side {
      position: sticky;
      z-index: unset;
      top: 10rem;
      width: 20rem;
      height: max-content;
      display: grid;
      align-items: start;
      padding-inline: 2rem;
      padding-block: 5rem;
      border-radius: 0 1rem 1rem 0;
      grid-area: side;
      padding-block: 1.25rem;
      background-color: var(--surface-container);
      padding-block-start: 3rem;
      padding-block-end: 1.25rem;
      align-content: start;
    }

    .main {
      grid-template:
        "types locations"
        "cards cards"
        "trends trends" / 1fr 3fr;
      max-width: 62rem;
      justify-items: unset;
    }
  }

  .section {
    border-radius: 1rem;
  }

  .types {
    grid-area: types;
  }

  @media (min-width: 1200px) {
    .types {
      max-width: 18rem;
    }
  }

  .trends {
    grid-area: trends;
  }

  .cards {
    grid-area: cards;
  }

  .locations {
    grid-area: locations;
  }
</style>
